<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/imgs/pcb.png" />
    <!--This is the title-->
    <title> Yoas1 flask env </title>
  </head>
  <body>
    <center>
      <!--Headigs-->
      <h1>Hello World!</h1>

      <!--Paragraph-->
      <p>© Yoas1</p><br>

      <!--link-->
      <a href="https://github.com/Yoas1">Yoas1-github</a>
    </center>
  </body>
</html>
